.App {
  margin: 1rem;
  font-family: Arial, Helvetica, sans-serif;
  color: #fff;
  /* height: 100%;
  overflow-y: auto; */
}

body {
  background-color:black;
 
}

.frame {
  background-color: rgb(33, 2, 211);
  height: 90vh;
  /* overflow-y: auto; */
  padding: 1% 3% 2% 3%;
  border: 1px solid rgb(212, 248, 203);
  border-radius: 10px;
  display: grid;
  grid-gap: 5px;
  grid-template-columns: repeat(6, 1fr);
  grid-template-rows: 50px 100px minmax(50px, 1fr) minmax(50px, 1fr) minmax(50px, 1fr);
  /* grid-template-rows: repeat(5, 100px); */
}

.calculator-title {
  color: #fff;
  text-align: center;
  font-size: 2.5em;
  padding: 0;
  margin: 0;
  border: 1px solid rgb(212, 248, 203);
  border-radius: 8px;
  grid-column-start: 1;
  grid-column-end: -1;/*stretch all column lines, gaps are columns also!!, can use -1 but this is for options sake*/
}

/* .calculator-title:hover {
  border-bottom: 1px solid black
} */

.screen {
  color: #546e7a;
  margin-bottom: 5px;
  background-color: white;
  margin: 5px 10px;
}

.screen-row {
  color: white;
  margin: 5px 20px;
 
}

.screen, .screen-row {
  grid-column: 1 / -1; /* shorthand method to stretch form column 1 all the way to fill all columns*/
}

.input-screen, .output-screen {
  text-align: right;
 
}

.input-screen {
  width: 100%;
  font-size: 1.5em;
  color: #37474f;
  border: 0px transparent;
  
}

.output-screen {
  width: 100%;
  border: 0px transparent;
  font-size: 2.4em;
  color: #61dd19;
}


.btn-row{
  display: flex;
  grid-column-start: 4;
  grid-column-end: span 3;/*stretch 3 column*/
  /* background: #61dd19; */
  justify-content: space-evenly;
}

.i-btn {
  background-color: darkcyan;
  color: white;
  font-size: 2em;
  border-radius: 5px;
  outline: none;
  text-align: center;
  border-color: transparent;
}

.i-btn:hover {
  color: #37474f;
  background-color: aliceblue;
}

.btn-special-right{
  background-color: rgb(255, 38, 0);
  font-size: 2em;
  border-color: transparent;
  border-radius: 5px;
  outline: none;
  text-align: center;
  color: white;
  width: 50%;
  margin-left: 2px;
}

.btn-special-left{
  background-color: rgb(255, 38, 0);
  font-size: 2em;
  border-color: transparent;
  border-radius: 5px;
  outline: none;
  text-align: center;
  color: white;
  width: 50%;
  margin-right: 2px;
}

.btn-special-left:hover, .btn-special-right:hover  {
  color: #37474f;
  background-color:coral;
}

.a-btn {
  background-color: orange;
  font-size: 2em;
  border-color: transparent;
  border-radius: 5px;
  outline: none;
  text-align: center;
}

.a-btn:hover {
  color: #37474f;
  background-color:brown;
}
